

/* fontes

    'Noto Serif Display'
    'roboto'

*/

:root {
    --cor-1: #210702;
    --cor-2: #440E00;
    --cor-3: #682107;
    --cor-4: #8E3d1B;
    --cor-5: #c76533;
    --cor-6: #feceb1;
    --cor-7: #fae2bb;
    --cor-8: #ffefd6;
    
}

/* corpo de texto da historia da paroquia */

.conteudo-h-paroquia{
    background-color: var(--cor-2);
    padding: 40px 0px 80px 0px;
}
.conteudo-h-paroquia h1 {
    text-align: center;
    margin: 0px 0px 5% 0px;
    color: var(--cor-6);
    font-family: 'Noto Serif Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 5vw;
    
}
.corpo-texto{
    background-color: var(--cor-7);
    height: auto;
    width: 80vw;
    max-width: 900px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.295);
    
}
.corpo-texto img{
    float: left;
    margin-right: 12px;
    margin-bottom: 0px;
    width: 240px;
    height: 260px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.228);
}
.corpo-texto p {
    color: var(--cor-1);
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    margin: 0;
    text-indent: 1em;
}
.restante-do-site{
    display: flex;
    flex-direction: column;
}


/* css das paginas de Santo Antonio e São tarcisio*/

    .sugestao {
    color: #fae2bb;
    font-size: 3vw;
    margin-bottom: 60px;
    text-align: center;    
}
.outras-historias{
    display: flex;
    justify-content:space-around ;
}
.s-onofre, .s-antonio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s-onofre a, .s-antonio a {
    font-size: 2vw;
    text-decoration: none;
    color: var(--cor-8);
    background-color: var(--cor-4);
    width: 220px;
    text-align: center;
    margin-bottom: 12px;
    padding: 4px 8px;
    border-radius: 5px 5px 0px 0px;
}
.s-onofre img, .s-antonio img{
    width: 240px;
    height: 300px;
}


