/* fontes

    'Noto Serif Display'
    'roboto'

*/

:root {
  --cor-1: #210702;
  --cor-2: #440e00;
  --cor-3: #682107;
  --cor-4: #8e3d1b;
  --cor-5: #c76533;
  --cor-6: #feceb1;
  --cor-7: #fae2bb;
  --cor-8: #ffefd6;
}
body {
  box-sizing: border-box;
  margin: 0;
}

/* corpo de texto da historia da paroquia */

.conteudo-h-paroquia {
  background-color: var(--cor-2);
  padding: 40px 0px 80px 0px;
  width: 100%;
}
.conteudo-h-paroquia h1 {
  text-align: center;
  margin: 0px 0px 5% 0px;
  color: var(--cor-6);
  font-family: "Noto Serif Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 5vw;
}
.corpo-texto {
  background-color: var(--cor-7);
  height: auto;
  width: 80vw;
  max-width: 900px;
  margin: 0px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.295);
  text-align: justify;
}
.corpo-texto img {
  float: left;
  margin-right: 12px;
  margin-bottom: 0px;
  width: 240px;
  height: 260px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.228);
}
.corpo-texto p {
  color: var(--cor-1);
  font-family: "roboto", sans-serif;
  font-size: 24px;
  margin: 0;
  text-indent: 1em;
}
.corpo-texto h3 {
  text-align: center;
  font-size: 32px;
}
.corpo-texto > .separador {
  margin-top: 32px;
}
.conteudo-adicional{
  margin-top: 32px;
  display: flex;
  justify-items: center;
  width: 100%;
  font-size: 26px;
}
.conteudo-adicional > .ad1 {
  width: 35vw;
}
.conteudo-adicional > .separador-2{
  width: 4px;
  height: auto;
}
.padroeiro {
  width: auto;
}
.restante-do-site {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #eeeee4, #a18f7d);
}

/* css das paginas de Santo Antonio e São tarcisio*/

.sugestao {
  color: #fae2bb;
  font-size: 3vw;
  margin-bottom: 60px;
  text-align: center;
}
.outras-historias {
  display: flex;
  justify-content: space-around;
}
.s-onofre,
.s-antonio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-onofre a,
.s-antonio a {
  font-size: 2.5vw;
  text-decoration: none;
  color: var(--cor-8);
  background-color: var(--cor-4);
  width: 255px;
  text-align: center;
  margin-bottom: 12px;
  padding: 4px 8px;
  border-radius: 5px 5px 0px 0px;
}
.s-onofre img,
.s-antonio img {
  width: 280px;
  height: 340px;
}
.footer-historia{
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 32px;
}
.footer-historia img {
  max-width: 70px;
  max-height: 70px;
  box-shadow: none;
}
